html,body,div,p,h1,h2,h3 {
	margin:0;
	padding:0;
}

body {
	background-color: #fff;
	font: 16px/24px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	text-align: center;
}

a {
	color: #F92672;
	text-decoration: none;
}
a:hover {
	color: #a3194c;
}
div.promo {
	text-align:right;
	font-size: 0.9em;
	margin:-1em 0 0 0;
}
p {
	margin:0.3em 0 0.5em;
}

.header h1 {
	font-size: 4.5em;
	letter-spacing: -4px;
	line-height: 1.2;
}
.header h2 {
	font-size: 1.8em;
	line-height: 1.2;
	letter-spacing: -2px;
}

.header {
	width:100%;
	background: #272822;
	background-image: -webkit-radial-gradient(50% 110%, ellipse farthest-side, rgba(255,255,255,0.2), rgba(255,255,255,0) 80%);
	padding:0em;
	color: #fff;
}


.header .noise {
	background: url(../images/noise.png) repeat;
}
.header .stripes {
	background: url(../images/stripes.png) repeat;
}

.header .container {
	padding: 8em 0 5em;
}


.page .header .container {
	padding: 2em 0 1.5em;
}
.page .header {
	font-size: 0.5em;
}
.page .content h2 {
	margin-top: 1em;
}

.header a {
	background-color: #F92672;
	border-top:solid 1px #f96ba5;
	text-shadow: 1px -1px 1px #f96ba5;
	text-decoration: none;
	padding: 0.7em 2em 0.8em;
	margin:4em 0.4em 0 0;
	color: #000;
	border-radius: 3px;
	line-height: 1em;
	font-weight: bold;
	box-shadow: 0px 2px 4px #222;
	display: inline-block;
	font-size: 0.9em;

}
.header a:hover {
	border-top:solid 1px #f99bc2;
	background-color: #f96ba5;
}

.container {
	width: 700px;
	text-align: left;
	margin:0 auto;
	padding:1em 0;
}

.content h2 {
	margin-top:3em;
	font-size: 1.6em;
	line-height: 1.2;
	letter-spacing: -1px;
	color:#333;
}
.content h3 {
	margin:1em 0 -0.4em;
	font-size: 1.2em;
	letter-spacing: -1px;
	color:#aaa;
}

pre {
	margin:1em 0;
}
pre code {
	overflow: auto;
	font-size: 0.8em;
	line-height: 1.4;
	padding:0em 2em;
	border-radius: 4px;
	margin: 0;
}


table {
	margin: 2em auto;
	width:95%;
	font-size: 0.7em;
}
th {
	border-bottom:solid 1px #ccc;
	margin:0;
	text-align:left;
}
td {
	text-align:left;
}

.container table {
	margin: 2em 0;
	width:100%;
}



.footer .container {
	border-top:solid 1px #ddd;
	padding:1em 0;
	margin: 4em auto 1em;
	font-size: 0.8em;
	color:#666;
}

